NEXT_PUBLIC_APPWRITE_PROJECT_ID=""
NEXT_PUBLIC_APPWRITE_PROJECT_NAME=""
NEXT_PUBLIC_APPWRITE_ENDPOINT=""
NEXT_PUBLIC_APPWRITE_DATABASE_ID=""
NEXT_PUBLIC_APPWRITE_APPLICANT_COLLECTION_ID=""
NEXT_PUBLIC_APPWRITE_INTERVIEW_COLLECTION_ID="".
NEXT_SECRET_KEY=""
